.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 16px;

  max-width: 400px;
  padding: 20px;
  margin: 40px auto;

  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgba(127, 255, 212, 0.705);
}

/* タイトルは横幅いっぱい */
.container h1 {
  grid-column: 1 / -1;
  text-align: center;
}

/* ボタンも中央＆横幅いっぱい */
.container button {
  grid-column: 1 / -1;
  padding: 10px;
  font-size: 16px;
  
}

/* 結果表示も横幅いっぱい */
#result {
  grid-column: 1 / -1;
  margin-top: 10px;
  font-weight: bold;
  background-color: rgba(248, 241, 147, 0.795);
  text-align: center;
  border-radius: 5px;
}
